# WhatsApp Session Data (CRITICAL: Do not share this)
auth_store/

# Local Exports and Uploads
exports/*.csv
uploads/

# Dependency Folders
node_modules/

# Environment and System Files
.env
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
settings.json